<form action="" class="app-form">
  <mat-form-field class="app-input">
    <input matInput name="cityName" [(ngModel)]="cityName" placeholder="City,ST?" (keyup.enter) = "getCityName()">
  </mat-form-field>
</form>

<mat-card>
  <mat-card-title>Monday</mat-card-title>
  <mat-card-subtitle>18 November</mat-card-subtitle>
  <mat-card-content>
    <div class="app-center">
      <h3>{{cityName}}</h3>
      <h1>22*C</h1>
      <p>Sunny</p>
      <!-- <div class="app-response">{{responseData}}</div> -->
    </div>
  </mat-card-content>
</mat-card>
<app-temperature></app-temperature>