<!-- // temperature component -->
<mat-card>
    <mat-toolbar>
      <h2>Forecast 16 days</h2>
    </mat-toolbar>
    <mat-tab-group md-selected="2">
        <mat-tab label="Wind" disabled>
          <div class="app-tab-content">
            Lorem ipsum dolor
          </div>  
        </mat-tab>
        <mat-tab label="Temperature" enabled>
          <div class="app-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate.
          </div>  </mat-tab>
        <!-- <mat-tab label="Pressure">
          <div class="app-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </mat-tab> -->
        <mat-tab label="Humidity" disabled>
          <div class="app-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate.
          </div>
        </mat-tab>
    </mat-tab-group>
  </mat-card>